<hello name="{{ name }}"></hello>
<app-user></app-user>

<hr />
<p> Note *** As Logger service is provided in root , so logger service is accessible anywhere in application.
  <br/>
  <button (click) = "showLoggerServiceLog()">Show Log</button>
  <button (click) = "showEvenBetterLoggerServiceLog()">Show Better Log</button>
  <hr />

  <hr />
<p> Note *** As User service is provided in User.Module and User.Module is imported in app.module, so User service is
  accessible here .
  <br/>
  <button (click) = "showUserServiceLog()">Show Log</button>
  <hr />

<p> Note *** As Common service is provided in User.Module and User.Module is imported in app.module, so Common service
  is
  accessible here .
  <br/>
  <button (click) = "showCommonServiceLog()">Show Log</button>
  <hr />